@page
@model IndexModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <a class="card-link" href="/Auth/CadUsuario/1">
                <div class="card text-center" style="background-color: blue; color: white;">
                    <div class="card-body">
                        <h5 class="card-title">Cadastro Profissional</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a class="card-link" href="/Auth/CadUsuario/2">
                <div class="card text-center" style="background-color: green; color: white;">
                    <div class="card-body">
                        <h5 class="card-title">Cadastro Empresarial</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
